<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.brainless.telyucreative">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelyuCreative">
        <activity
            android:name=".views.mainscreen.account.upload.UploadCreationActivity"
            android:exported="false" />
        <activity
            android:name=".views.mainscreen.account.telyuaccount.TelyuAccountActivity"
            android:exported="false" />
        <activity
            android:name=".views.mainscreen.account.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.mainscreen.account.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.authscreen.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".utils.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".views.authscreen.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.authscreen.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.mainscreen.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>