<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.brainless.telyucreative">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelyuCreative"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".views.detailscreen.CreationDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_creation_detail"
            android:theme="@style/Theme.TelyuCreative.NoActionBar"/>
        <activity
            android:name=".views.mainscreen.account.upload.UploadCreationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.mainscreen.account.telyuaccount.TelyuAccountActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.mainscreen.account.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.mainscreen.account.profile.UserProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.authscreen.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".utils.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".views.authscreen.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.authscreen.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".views.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.mainscreen.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>